{%extends 'base.html'%}
{%block conteudo%}
<h2 style="text-align: center;">Atualizar Curso</h2>
<hr>
{%- for message in get_flashed_messages() %} <!--Percorrer as MENSAGENS FLASH que foram definidas no arquivo app.py -->
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
        {{message}}
        </div>
    </div>
{%- endfor %}
<form method="post" action="{{url_for('atualiza_curso', id = curso.id)}}">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="nome" class="form-control" value="{{curso.nome}}">
        <label>Descrição</label>
        <textarea type="text" name="descricao" class="form-control">{{curso.descricao}}</textarea>
        <label>Carga Horária</label>
        <input type="text" name="ch" class="form-control" value="{{curso.carga_horaria}}">
    </div>
    <button type="submit" class="btn btn-success">Adicionar</button>
</form>
{%endblock conteudo%}