{%extends 'base.html'%}
{%block conteudo%}
<h2 style="text-align: center;">Cursos</h2>
<hr>
<a href="{{url_for('cria_curso')}}" class="btn btn-primary">Adicionar Curso</a>
<br><br>
<table class="table table-striped ">
    <thead>
        <tr class="table-dark">
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Carga Horária</th>
          <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {%for curso in cursos%}
            <tr>
                <td>{{curso.id}}</td>
                <td>{{curso.nome}}</td>
                <td>{{curso.descricao}}</td>
                <td>{{curso.carga_horaria}}</td>
                <td>
                    <a href="{{curso.id}}/atualiza_curso" type="button" class="btn btn-secondary btn-sm">Editar</a>
                    <a href="{{curso.id}}/remover_curso" type="button" onclick="return confirm('Deseja realmente excluir esse registro?')" class="btn btn-danger btn-sm">Remover</a>
                </td>
            </tr>
        {%endfor%}
      </tbody>
</table>
{%endblock conteudo%}