{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">Integração do HTML com o FLASK</h2>
<hr>
<ul class="list-group">
    {% for fruta in frutas%}
        <li class="list-group-item">{{fruta}}</li>
    {% endfor %}
</ul>
<form method="post" action="{{url_for('main')}}">
    <div class="form-group">
        <label for="exemplo-fruta">Fruta</label>
        <input type="text" name="fruta" class="form-control" id="exemplo-fruta" placeholder="Digite uma fruta" required>
    </div>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>
{% endblock conteudo %}

