{%extends 'base.html'%}
{%block conteudo%}
<h2 style="text-align: center;">Novo Curso</h2>
<hr>
<form method="post" action="{{url_for('cria_curso')}}">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="nome" class="form-control" placeholder="Nome do curso" required>
        <label>Descrição</label>
        <input type="text" name="descricao" class="form-control" placeholder="Descrição do curso" required>
        <label>Carga Horária</label>
        <input type="number" name="ch" class="form-control" placeholder="Carga horária do curso" required>
    </div>
    <button type="submit" class="btn btn-success">Adicionar</button>
</form>
{%endblock conteudo%}